<!DOCTYPE html>
<html lang="en">
  <% include ../layout/head %>
  <body>
    
    <% include ../layout/navbar %>
    
    <div class="container">
      <h2>My Pastes</h2>
      <p>This page contains all your pastes.</p>
      <table class="table">
        <thead>
          <tr>
            <th>Name/Title</th>
            <th>Added</th>
            <th>Hits</th>
            <th>Exposure</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% for(var i = 0; i < pastes.length; i++) { %>
          <tr>
            <td><i class="fa fa-tag"></i> <a href="/paste/<%= pastes[i].hid %>"> <%= pastes[i].title %> </a></td>
            <td><%= pastes[i].createdAt.getDate() %>/<%= pastes[i].createdAt.getMonth()+1 %>/<%= pastes[i].createdAt.getFullYear() %></td>
            <td><%= pastes[i].hits %></td>
            <td><%= pastes[i].exposure %></td>
            <td>
              <form class="form" method="delete" action="/paste/<%= pastes[i].hid %>">
                <a href="/paste/<%= pastes[i].hid %>/edit" class="btn btn-xs btn-default" role="button"><i class="fa fa-edit"></i> Edit</a>
                <button class="btn btn-xs btn-default" type="submit"><i class="fa fa-trash-o"></i> Remove</button>
              </form>
            </td>
          </tr>
        <% } %>
        </tbody>
      </table>
      
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  </body>
</html>